# Supabase Configuration
REACT_APP_SUPABASE_URL=https://inachjylaqelysiwtsux.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImluYWNoanlsYXFlbHlzaXd0c3V4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwMTYxNDgsImV4cCI6MjA5MzU5MjE0OH0.dXSytLyghdVOFJomfGQ8R9MXWfqPAPIRFcxe2NCyo5g

# Railway API Configuration
REACT_APP_RAILWAY_API_URL=https://api-server-production-8157.up.railway.app

# LiveKit Configuration (optional)
# REACT_APP_LIVEKIT_URL=
# REACT_APP_LIVEKIT_API_KEY=
# REACT_APP_LIVEKIT_API_SECRET=
